<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/hodlinfo_clone/public/index.css">
    <title>HodlInfo</title>
</head>
<body>
    <header class="header-nav">
        <h1>HodlInfo</h1>
        <nav>
            <ul>
                <button>Inr</button>
                <button>BTC</button>
                <button>BUY BTC</button>
            </ul>
        </nav>
        <nav>
            <ul>
                <button>Connect Telegram</button>
                <span>mode</span>
            </ul>
        </nav>
    </header>
    <h1 class="main-head">Best Price to Trade</h1>
    <div class="trends-container">
        <ul>
            <h1>0.1%</h1>
            <span>5 Mins</span>
        </ul>
        <ul>
            <h1>0.1%</h1>
            <span>5 Mins</span>
        </ul>
        <ul>
            <h1>0.1%</h1>
            <span>5 Mins</span>
        </ul>
        <ul>
            <h1>0.1%</h1>
            <span>5 Mins</span>
        </ul>
        <ul>
            <h1>0.1%</h1>
            <span>5 Mins</span>
        </ul>
    </div>
</body>
</html>